<%= form_for([@user, @word]) do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :english %><br />
    <%= f.text_field :english %>
  </div>
  <div class="field">
    <%= f.label :japanese %><br />
    <%= f.text_field :japanese %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :personal %><br />
    <%= f.check_box :personal %>
  </div>
  <div class="field">
    <%= f.label :comfort %><br />
    <%= f.number_field :comfort %>
  </div>
  <div class="field">
    <%= f.label :memo %><br />
    <%= f.text_area :memo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
